* {
    margin: 0;
    padding: 0;
}

.component12-main-page {
    font-family: "Poppins", sans-serif;
    width: 1512px;
    height: 590px;
    background-color: #000000;
    color: #FFFFFF;
}

.component12-main-page img {
    margin-top: 58px;
    margin-left: 112px;
    width: 230px;
    height: 70px;
}

.component12-main-page .main {
    margin-top: 50px;
    margin-left: 112px;
    display: flex;
    justify-content: space-between;
}

.component12-main-page .main .first {
    width: 450px;
    opacity: 80%;
    color: #E7E7E7;
    font-size: 21px;
    font-weight: 400;
}

.component12-main-page .main h6 {
    color: #0267FF;
    font-size: 26px;
    font-weight: 600;

}

.component12-main-page .main p {
    color: #E7E7E7;
    font-size: 21px;
    font-weight: 400;
    opacity: 78%;
}

.component12-main-page input {
    width: 450px;
    height: 65px;
    margin-left: 112px;
    border-radius: 20px;
    padding: 20px 18px;
    font-size: 21.943px;
    font-weight: 400;
    position: absolute;
}

.component12-main-page button {
    position: relative;
    width: 175px;
    height: 52px;
    border: none;
    border-radius: 20px;
    background-color: #0267FF;
    color: #F1F1F1;
    margin-left: 405px;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 600;
}

.component12-main-page button img {
    width: 11px;
    position: relative;
    margin-left: 10px;
    margin-top: 1px;
    height: 20px;
}

.component12-main-page .footer {
    display: flex;
}

.component12-main-page .footer .footerright {
    display: flex;
    color: #F1F1F1;
    font-size: 26px;
    width: 750px;
    font-weight: 600;
    margin-left: 320px;
    display: flex;
}



.component12-main-page .footer .footerright img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-left: 16px;
}

.component12-main-page .footer .footerright h1 {
    font-size: 26px;
    font-weight: 400;
}

@media(max-width:769px) {
    .component12-main-page {
        width: 768px;
        height: 1080px;
    }

    .component12-main-page img {
        width: 130px;
        height: 60px;
        margin-left: 80px;
    }

    .component12-main-page .main .first p {
        font-size: 15px;
        width: 280px;
    }

    .component12-main-page .main {
        margin-left: 80px;
    }

    .component12-main-page .main h6 {
        font-size: 16px;
    }

    .component12-main-page .main p {
        font-size: 12px;
    }

    .component12-main-page .main .second {
        width: 150px;
    }

    .component12-main-page .main .third {
        width: 150px;
    }

    .component12-main-page .main .fourth {
        margin-right: 25px;
        width: 150px;
    }

    .component12-main-page input {
        width: 250px;
        height: 35px;
    }

    .component12-main-page .footer {
        display: flex;
        flex-direction: column;
    }

    .component12-main-page .footer .footerright {
        margin-top: 20px;
    }

    .component12-main-page .footer .footerright h1 {
        font-size: 16px;
    }

}

@media (max-width:376px) {
    .component12-main-page {
        width: 375px;
        height: 890px;
    }

    .component12-main-page .main {
        display: flex;
        margin-left: 15px;
        flex-wrap: wrap;
    }

    .component12-main-page .main .second {
        width: 90px;
    }

    .component12-main-page .main .third {
        width: 90px;
    }

    .component12-main-page input {
        margin-left: 20px;
    }

    .component12-main-page .footer {
        display: flex;
        flex-direction: column;
    }

    .component12-main-page button {
        margin-left: 20px;
        margin-top: 60px;
    }

    .component12-main-page .footer .footerright {
        margin-left: 20px;
        margin-top: 30px;
    }

}